body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 5px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: rgb(0, 144, 203);
    transition: 0.3s all;
}



main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    
    
}


span{
    color:  rgb(0, 144, 203);
}


h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span {
    color: rgb(0, 144, 203);
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img {
    width: 400px;
    margin-left: 0;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

iframe {
    width: 100;
    height: 100;
}



footer {
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 20px;
    text-align: left;
}

.logo {
    width: 50px; /* Ajuste conforme necessário */
    height: auto;
    margin-right: 10px; /* Espaçamento entre o logo e o texto do rodapé */
}

h3{
    text-align: center;
    font-size: large ;
    color: rgb(0, 144, 203);
    size: 80px;

}
